@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~material-design-lite/src/material-design-lite.scss';

$tt-bg-color: unquote("rgb(#{$palette-grey-100})");
$tt-content-padding: 15px;

* {
  box-sizing: border-box;
}

body {
  background-color: $tt-bg-color;
}

.page-content {
  padding: $tt-content-padding;
  overflow-y: auto;
  flex-grow: 1;
}
